@model TodoManager.ViewModels.NewTodo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            <div>
                Name :
                @Html.TextBoxFor(m => m.Name)
                <span>@Html.ValidationMessageFor(m => m.Name)</span>
            </div>
            <input type="submit" value="Save"/>
        }
    </body>
</html>